@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RentC</h1>
    <p class="lead">Welcome to RentC, your brand new solution to manage and control  
    your company's data without missing anything</p>
    
</div>

